
@{
    ViewBag.Title = "CustomerEnter";
}

<html>
<head>
    <meta name="viewport" content="width=500 height = 500" />
    <title>Customer Enter Page</title>
</head>
<body>
    <div>
        <form action="Submit" method="post">
            Customer Name <input name="CustomerName" id="Text1" type="text" /><br />
            Customer Code <input name="CustomerCode" id="Text1" type="text" /><br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
<h2>CustomerEnter</h2>

