@model CustomerInfo.Models.Customer

@{
    ViewBag.Title = "CustomerLoad";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=500 height = 500" />
    <title>Customer Page</title>
</head>
<body>
    <div>
        Customer Code :- @Model.CustomerCode <br />
        Customer Name :- @Model.CustomerName
    </div>
</body>
</html>

<h2>CustomerLoad</h2>



