@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submit</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        function Save1() {
            $.post("Save", null, ResultFunc);
        }

        function Delete1() {
            $.post("Delete", null, ResultFunc);
        }

        function ResultFunc(Data) {
            alert(Data);
        }
    </script>
    <div>
        <form action="Submit" method="post">
            <input type="submit" value="Save" name="Save" onclick="Save1()" /><br />
            <input type="submit" value="Delete" name="Delete" onclick="Delete1()" /><br />
        </form>
    </div>
</body>
</html>
