
@{
    ViewBag.Title = "NewEmployee";
}
<html>
<head>
    <meta name="viewport" content="width=500 height=500" />
    <title>New Employee Feed</title>
</head>

<h2>Registration</h2>
<body>
    <div>
        <form action="Submit" method="post">
            Employee Code <input name="txtEmployeeCode" id="text1" type="text" />
            Employee Name <input name="txtEmployeeName" id="text2" type="text" />
            <input id="Submit" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>



