
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=400 Height=400" />
    <title>My Home Page</title>
</head>
<body>
    <div>
        Home Page Number 1
        @ViewData["DateTime"]
        @ViewBag.DateTimeViwBag
        @TempData["TempDataa"]
        @Session["SessData"]
    </div>
</body>
</html>
<h2>Welcome to my Page View</h2>

