


    <div>
        <div ng-controller="EmployeeViewModel">
            <form id="frm" name="frm">
                <i>Employee Code</i> <input id="EmpCode" required ng-model="EmpObj.EmployeeCode" type="text" name="EmployeeCode" /> <br />
                @*@Html.ValidationMessageFor(x => x.EmpObj.EmployeeCode)*@
                <span ng-show="!frm.EmployeeCode.$valid">EmployeeCode is Required</span> <br />
                <i>Employee Name</i><input id="EmpName" required ng-model="EmpObj.EmployeeName" type="text" name="EmployeeName" /> <br />
                @*@Html.ValidationMessageFor(x => x.EmpObj.EmployeeName)*@
                <span ng-show="!frm.EmployeeName.$valid">EmployeeName is Required</span> <br />
                <i>Employee Salary</i><input id="EmpSal" type="text" ng-model="EmpObj.EmployeeSalary"
                                             style="background-color:{{EmpObj.EmployeeSalaryColor}}" name="EmpObj.EmployeeSalary" /> <br /> <br />

            </form>
            <input id="Submit" ng-disabled="!frm.$valid" type="button" value="Add Employee" ng-click="Add()" />
            <input id="Submit" type="button" value="Update Employee" ng-click="Update()" />
            <input id="Submit" type="button" value="Delete Employee" ng-click="Delete()" />
            <li id="errorMessages" class="error" data-ng-repeat="error in Errors">
                {{error}}
            </li>
            <table id="tbl">
                <tr>
                    <td>Employee Code</td>
                    <td>Employee Name</td>
                    <td>Employee Salary</td>
                </tr>
                <tr ng-repeat="emp in Employees">
                    <td>{{emp.EmployeeCode}}</td>
                    <td>{{emp.EmployeeName}}</td>
                    @*<td>{{emp.EmployeeSalaryColor}}</td>*@
                    <td style="background-color:{{emp.EmployeeSalaryColor}}">{{emp.EmployeeSalary}}</td>
                    <td><a ng-click="LoadByCode(emp.EmployeeCode)" href="#">Select</a></td>

                </tr>
            </table>
        </div>

        @Html.ValidationSummary()

        <br />
        @*<table>
                <tr>
                    <td>Employee Code</td>
                    <td>Employee Name</td>
                </tr>

                @foreach(Employee e in Model.Employees)
                {
                    <tr>
                        <td>@e.EmployeeCode</td>
                        <td>@e.EmployeeName</td>
                    </tr>
                }
            </table>*@

        @*@Html.Partial("Display",Model)*@


        @*<script language="Javascript">
                $("#status").text("Loading...");
                $.get("GetEmployees", null, BindData);

                function BindData(Employees)
                {
                    var tbl = $("#tbl");
                    $("#tbl tr").remove();

                    for (var j = 0; j < Employees.length; j++)
                    {
                        var newRow = "<tr>" +
                            "<td>" + Employees[j].EmployeeCode + "</td>" +
                            "<td>" + Employees[j].EmployeeName + "</td>" +
                            "<td>" + Employees[j].EmployeeSalary + "</td>" +
                            "</tr>";

                        tbl.append(newRow);


                    }
                }

                function SendData()
                {
                    var frmRef = $("#frm").serialize();
                    $.post("Submit", frmRef, BindData);
                }

            </script>*@
    </div>




