@model ModelBind.Models.Employee

@{
    ViewBag.Title = "NewEmployee";
}


<html>
<head>
    <meta name="viewport" content="width=500 height=500" />
    <title>New Employee Feed</title>
</head>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<h2>Registration</h2>
<body>
    <div>
        @using (Html.BeginForm("Submit","Employee",FormMethod.Post))
        {
            <i>Employee Code</i> @Html.TextBoxFor(x => x.EmployeeCode) <br /> <br />
            @Html.ValidationMessageFor(x => x.EmployeeCode)
            <i>Employee Name</i> @Html.TextBoxFor(x => x.EmployeeName) <br /> <br />
            @Html.ValidationMessageFor(x => x.EmployeeName)
            <input id="Submit" type="submit" value="submit" />
        }
        
        <br />
           @*@Html.ValidationSummary()*@
    </div>
</body>
</html>



