
@{
    Layout = null;
    System.Web.Optimization.Scripts.Render("~/Bundles");
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayView</title>
</head>
<body>
    <div> 
        Bundling & Minifcation Demo..
    </div>
</body>
</html>
