@model ModelBind.Models.EmployeeVM
@using ModelBind.Models
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<html>

<body>
    <div>

    </div>
</body>

</html>

    
    <form id="frmSearch">
    <i>EmployeeName</i> @Html.TextBoxFor(x => x.EmpObj.EmployeeName) <br />
    </form>
    <input name="Search" id="Text1" type="button" value="Search Employee" onclick="SearchClick()" />

   
     <table id="tbl">
        <tr>
            <td>Employee Code</td>
            <td>Employee Name</td>
        </tr>
    </table>

     <script language="Javascript">
         $.get("GetSearchResult", null, BindData);

         function BindData(Employees) {
             var tbl = $("#tbl");
             $("#tbl tr").remove();

             for (var j = 0; j < Employees.length; j++) {
                 var newRow = "<tr>" +
                     "<td>" + Employees[j].EmployeeCode + "</td>" +
                     "<td>" + Employees[j].EmployeeName + "</td>" +
                     "</tr>";

                 tbl.append(newRow);


             }
         }


         function SearchClick() {
             var frmRef = $("#frmSearch").serialize();
             $.post("SearchEmployee", frmRef, BindData);
         }


     </script>   


    

 @*<table>
     <tr>
         <td>EmployeeCode</td>
         <td>EmployeeName </td>
     </tr>

         @foreach (Employee em in Model.Employees)
         {
             <tr>
                 <td>@em.EmployeeCode</td>
                 <td>@em.EmployeeName</td>
             </tr>
             
                 
         }
 </table>*@

@*@Html.Partial("Display", Model)*@

