@model HandleErrorInfo
@{
    ViewBag.Title = "Exception";
    
}



<html>

<head >
    <meta name="viewport" content="width=device-width" />
    <title>Exception Demo App</title>

</head>
<body>
    <div>
        Error Occured! sorry guys - ErrorDisplayNew1
        
    </div>
</body>
</html>
