
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XSS</title>
</head>
<body>
    <div> 
        Product Name
        <input type="text" value="" name="txt" />
        Product Description
        <input type="text" value="" name="txt1" />
        <input type="submit" name="submit" />
    </div>
</body>
</html>
