@using MVC_Project_1.Models;
@model MVC_Project_1.Models.Credential;
@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/angular.js"></script>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body ng-app="myApp">
    <div ng-controller="LoginCredential">
        <form id="frm">
            UserName :- <input id="uName" name="UserName" type="text" ng-model="UserName" />
            Password :- <input id="pwd" name="Passwrd" type="text"  ng-model="Passwrd"/>
        </form>
    </div>
</body>
</html>
